<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845011601757-l1rnfbfrin9b2ipksidrtt25ms0ng1n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845011601757-l1rnfbfrin9b2ipksidrtt25ms0ng1n8</string>
	<key>API_KEY</key>
	<string>AIzaSyAFyhYLrfxT3xVdEtJr26cUApVRbf75860</string>
	<key>GCM_SENDER_ID</key>
	<string>845011601757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactsApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-6cd9b</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-6cd9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845011601757:ios:ea0bbf762159db8a8f40b4</string>
	<key>DATABASE_URL</key>
	<string>https://todo-app-6cd9b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>